/*-- scss:defaults --*/

@import url('https://www.cssfontstack.com/Optima');
$optima-font: 'Optima', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$roboto-font: 'Roboto Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
$fira-font: 'Fira Code', monospace; 

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
$header-font: 'IM Fell DW Pica SC', serif;

// Optional weight aliases
$roboto-light: 300;
$roboto-regular: 400;
$roboto-bold: 700;

$font-family-sans-serif: $roboto-font;
$font-family-monospace: $fira-font; 
$link-color: #DC143C;
$code-block-bg: #F4F4F4;
$font-size-root: 1em;
$navbar-bg: #F8F9FA;
//$body-bg: #FEFDFA;
//$primary: #4974A5;
//$primary: #368DFC;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-font;
  font-weight: 300;
}

body {
  font-family: $roboto-font;
  font-weight: $roboto-light;
}

.listing-description .no-external {
  font-family: $roboto-font;
  font-weight: $roboto-light;
}


.smallcaps {
  font-family: $roboto-font;
  font-weight: $roboto-regular;
  //font-size: 1em;
}