/*-- scss:defaults --*/

@import url('https://www.cssfontstack.com/Optima');
$optima-font: 'Optima', sans-serif;

$header-font: $optima-font;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
$fira-font: 'Fira Code', monospace; 

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
$meta-font: 'Epilogue', sans-serif;


$font-family-sans-serif: $optima-font;
$font-family-monospace: $fira-font; 
$link-color: #DC143C;
$code-block-bg: #F4F4F4;
$font-size-root: 1em;
$navbar-bg: #F8F9FA;
//$body-bg: #FEFDFA;
//$primary: #4974A5;
//$primary: #368DFC;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $optima-font;
  font-weight: 700;
  //letter-spacing: 0.01em;
  //font-variant: small-caps;
}

body {
  font-family: $optima-font;
  font-weight: 400;
}

.quarto-listing{
  font-family: $optima-font;
}

div.delink.listing-description {
  font-size: 0.9em;
}

div.quarto-post .metadata {
  font-size: 0.8em;
}

// .listing-description .no-external {
//   font-family: $optima-font;
//   font-weight: $roboto-light;
// }
// 
// .listing-title {
//   font-family: $optima-font;
//   font-weight: $roboto-bold;
// }
// 
// .metadata {
//   font-family: $optima-font;
//   font-weight: $roboto-light;
// }


.smallcaps {
  font-family: $optima-font;
  font-weight: 700;
  //font-size: 1em;
}